@model IdentityExample.ViewModels.Account.SignUpViewModel

@{
    ViewData["Title"] = "Sign Up";
}

<form id="signupForm" class="mt-5" asp-action="SignUp" asp-controller="Account" method="post" style="max-width: 480px; margin: 0 auto;">
    <div class="mb-3">
        <label asp-for="EmployeeId" class="form-label"></label>
        <select class="form-select" asp-for="EmployeeId" asp-items="@Model.EmployeeDropDown">
            <option value="0" selected>-- Select --</option>
        </select>
        <span class="text-danger" asp-validation-for="EmployeeId"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Email" placeholder="Email Address" readonly>
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input class="form-control" asp-for="Password" placeholder="Password">
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ConfirmPassword" class="form-label"></label>
        <input class="form-control" asp-for="ConfirmPassword" placeholder="Confirm Password">
        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mt-4">
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $("#EmployeeId").on("change", function () {
            var id = $(this).find(":selected").val();

            var url = "/Account/GetEmployeeEmail"

            $.ajax({
                url: url,
                type: "POST",
                data: { id },
                success: function (response) {
                    if (response.success) {
                        $("#Email").val(response.email);
                    } else {
                        $("#Email").val(null);
                    }
                }
            });
        });
    </script>
}